@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutExterna.cshtml";
}

<div class="Panel LoginPanel" ng-controller="loginController" ng-init="SessionEnd()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="LetrasTitulo textoNegrita"> Inicio de sesión</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input id="usuario" type="text" class="LetrasContenido" ng-model="model.usuario" placeholder="Usuario" />
            <span class="validate" ng-show="UserInvalido">Debe ingresar un usuario válido</span>
            <input id="password" type="password" class="LetrasContenido" ng-model="model.password" placeholder="Clave" />
            <span class="validate" ng-show="PasswordInvalido">Debe ingresar el password</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="botoneraCentrada">
                <input id="btnIniciarSession" ng-click="login()" type="button" class="btnPrincipal" value="Iniciar Sesión" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"> 
            <div class="botoneraCentrada">
                <a class="btnCrearCuenta LetrasContenido" id="btnCrearCuenta" href="~/Registro/Index">Crear Cuenta <span class="textoNegrita LetrasContenido">></span></a><br />
                <a class="btnRegistrarLinkedin" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=788xfq3rqvr339&redirect_uri=http://bac.southcentralus.cloudapp.azure.com/bacfrontend/Postulante/RegistroPostulante/&state=987654321&scope=r_basicprofile"> Registro con Linkedin </a><br />
                <a class="ColorLetraAzul LetrasContenido" id="BtnRecuperarClave" data-toggle="modal" data-target="#popupArea">Olvidó su contraseña</a>
            </div>
        </div>
    </div>
    <div id="popupArea" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-lg-1">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="LetrasContenido textoNegrita">Escriba su correo para la recuperación</label>
                            <input id="txtNombre" type="text" placeholder="Correo" class="LetrasContenido" ng-model="model.Correo" />
                            <span class="validate" ng-show="EmailInvalido">Debe ingresar un correo válido</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="botonera">
                                @*<input id="btnCancelar" type="button" value="Cancelar" class="btnSecundario" data-dismiss="modal" ng-click="Cancelar()" />*@
                                <input id="btnGuardar" type="button" value="Enviar" class="btnPrincipal" data-dismiss="modal" ng-click="Enviar()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var SessionStatus = '@ViewBag.SessionState';
</script>