@import url('//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css');
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Bold.otf') format('opentype'), url('Fonts/Graphik-Bold.woff') format('woff'), url('Fonts/Graphik-Bold.ttf') format('truetype'), url('Fonts/Graphik-Bold.svg#Graphik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Semibold.otf') format('opentype'), url('Fonts/Graphik-Semibold.woff') format('woff'), url('Fonts/Graphik-Semibold.ttf') format('truetype'), url('Fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Medium.otf') format('opentype'), url('Fonts/Graphik-Medium.woff') format('woff'), url('Fonts/Graphik-Medium.ttf') format('truetype'), url('Fonts/Graphik-Medium.svg#Graphik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Regular.otf') format('opentype'), url('Fonts/Graphik-Regular.woff') format('woff'), url('Fonts/Graphik-Regular.ttf') format('truetype'), url('Fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #F1F1F2;
  font-family: 'Graphik', Arial, serif;
  overflow-x: hidden;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: bold;
}
.bg-red {
  background-color: #e4002b;
}
.navbar {
  padding: 1em !important;
}
.nav-logo {
  width: 7em;
}
.div-nombre-progreso {
  color: #6D6E71;
  font-weight: bold;
}
.div-linea-progreso {
  border-bottom: 4px solid #6D6E71;
  width: 100%;
  position: relative;
  top: 15px;
  z-index: 0;
}
.div-simbolo-progreso {
  border: 3px solid #6D6E71;
  background-color: white;
  color: #6D6E71;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.activado .div-linea-progreso {
  border-bottom-color: #43b581;
}
.activado .div-simbolo-progreso {
  border-color: #43b581;
  color: #43b581;
}
.div-simbolo-progreso.check {
  background-color: #43b581;
  color: white;
}
.div-simbolo-progreso.check.info {
  border: none;
  display: inline-block;
}
.header-info-agregada {
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
}
.div-informacion-agregada {
  max-height: 300px;
  overflow-x: auto;
}
.div-informacion-agregada section {
  background: #2196F3;
  color: white;
  padding: 5px;
  text-align: left;
  border-radius: 10px 0 10px 0;
  margin-bottom: 1em;
}
.div-informacion-agregada div {
  width: 100%;
}
.div-informacion-agregada button {
  color: white;
  padding: 2px;
  min-width: 20px;
  float: right;
}
.div-informacion-agregada button:hover {
  background: #e4002b;
}
#table-progreso {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 2px;
}
#table-progreso tr > td {
  width: 25%;
}
.card-registro {
  margin: 2.5em auto;
  padding: 2em;
  min-height: 38em;
  max-width: 52em;
  width: 100%;
  background-color: white;
  text-align: center;
  display: none;
}
.card-registro .mdl-cell {
  margin: 0 auto;
}
.card-registro .btn-atras {
  background-color: #4d4d4f !important;
}
.card-registro .td-contenido {
  vertical-align: middle;
  height: 100%;
}
.card-registro .td-footer button {
  margin: 1em;
  max-width: 200px;
  width: 100%;
}
.mdl-textfield {
  width: 100%;
}
#btn-back {
  float: left;
  font-weight: bold;
  color: #515151;
  text-transform: none;
}
#btn-back span {
  color: #CDCDCD;
  font-size: 2rem;
  margin-right: 0.2em;
  vertical-align: middle;
}
#btn-continuar,
.btn-bg {
  margin: 2em 0 4em 0;
  max-width: 21em;
  width: 100%;
}
#img-paso0 {
  margin: 2em 0 0 0;
  max-width: 211px;
  width: 100%;
}
.p-nota {
  color: #6D6E71;
}
.clear {
  clear: both;
}
.btn-seleccionar-uno {
  font-weight: bold;
  border: 2px solid #6D6E71;
  color: #6D6E71;
  max-width: 21em;
  width: 100%;
  margin-bottom: 1em;
}
.div-item {
  border: 2px solid #6D6E71;
  padding: 2px;
  margin: 5px auto !important;
}
.div-item label {
  font-weight: bold;
}
.div-item button {
  float: right;
  min-width: 1em;
}
.btn-seleccionar-uno.activo {
  border: 2px solid #2196F3;
  background-color: #2196F3 !important;
  color: white;
}
.div-estado-civil {
  float: left;
  width: 46%;
  padding: 0 5px 0 5px;
}
.btn-agregar {
  font-weight: bold;
  float: left;
  text-transform: capitalize;
}
.btn-agregar img {
  width: 2em;
}
.div-checkboxes {
  text-align: left;
}
.div-carga-contenido {
  display: inline-block;
}
.div-carga-archivo {
  border: 2px #6D6E71 dashed;
  color: #6D6E71;
  border-radius: 2em;
  width: 9em;
  min-height: 9em;
  margin: 0 auto;
  padding: 1.5em;
  margin-bottom: 1.5em;
  cursor: pointer;
}
#img-foto {
  width: 100%;
}
.mensaje-error {
  color: #e4002b;
  text-align: justify;
}
/* Checkbox */
.lbl-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font-size: 1.2em;
}
.lbl-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.lbl-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.lbl-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.lbl-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.lbl-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal {
  text-align: center;
}
.modal div {
  margin: 0 auto;
}
.modal h4 {
  color: #e4002b;
  margin: 0;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #6D6E71;
  font-size: 10px;
  margin: 2.5em auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  #btn-back {
    margin-bottom: 1em;
  }
  .p-img-paso {
    display: none;
  }
  .card-registro {
    margin: 0 auto;
    padding: 0;
    height: calc(100% - 60px);
  }
  .card-registro .td-footer {
    background-color: #F1F1F2;
    padding: 5px;
  }
  .card-registro .td-footer button {
    margin: 5px;
    width: 100px;
    padding: 0;
  }
  .card-registro .td-footer div {
    width: calc(100% - 240px);
    min-width: 70px;
    float: left;
  }
  #paso0 tr td {
    background-color: white !important;
  }
  .div-estado-civil {
    display: block;
    width: 100%;
  }
  .btn-bg {
    width: auto;
  }
}