@import url('//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css');
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('Fonts/Helvetica-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Bold.otf') format('opentype'), url('Fonts/Graphik-Bold.woff') format('woff'), url('Fonts/Graphik-Bold.ttf') format('truetype'), url('Fonts/Graphik-Bold.svg#Graphik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Semibold.otf') format('opentype'), url('Fonts/Graphik-Semibold.woff') format('woff'), url('Fonts/Graphik-Semibold.ttf') format('truetype'), url('Fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Medium.otf') format('opentype'), url('Fonts/Graphik-Medium.woff') format('woff'), url('Fonts/Graphik-Medium.ttf') format('truetype'), url('Fonts/Graphik-Medium.svg#Graphik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'), url('Fonts/Graphik-Regular.otf') format('opentype'), url('Fonts/Graphik-Regular.woff') format('woff'), url('Fonts/Graphik-Regular.ttf') format('truetype'), url('Fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  /*margin: 0px;*/
  background-color: #f1f1f2;
  font-family: 'Graphik', Arial, serif;
  /*height: 100%;*/
}
html {
  /*margin: 0px;*/
  background-color: #f1f1f2;
  font-family: 'Graphik', Arial, serif;
  height: 100%;
  overflow-x: hidden;
}
body {
  /*margin: 0px;*/
  background-color: #f1f1f2;
  font-family: 'Graphik', Arial, serif;
  min-height: 100%;
  overflow-x: hidden;
}
/*Funciones*/
.icono-1 {
  width: 10px !important;
  height: 10px !important;
  object-fit: cover;
}
.icono-2 {
  width: 20px !important;
  height: 20px !important;
  object-fit: cover;
}
.icono-3 {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
}
.icono-4 {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
}
.icono-5 {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
}
.icono-6 {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
}
.icono-7 {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover;
}
.icono-8 {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}
.icono-9 {
  width: 90px !important;
  height: 90px !important;
  object-fit: cover;
}
.icono-10 {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
}
.icono-11 {
  width: 110px !important;
  height: 110px !important;
  object-fit: cover;
}
.icono-12 {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}
.icono-13 {
  width: 130px !important;
  height: 130px !important;
  object-fit: cover;
}
.icono-14 {
  width: 140px !important;
  height: 140px !important;
  object-fit: cover;
}
.icono-15 {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
}
.icono-16 {
  width: 160px !important;
  height: 160px !important;
  object-fit: cover;
}
.icono-17 {
  width: 170px !important;
  height: 170px !important;
  object-fit: cover;
}
.icono-18 {
  width: 180px !important;
  height: 180px !important;
  object-fit: cover;
}
.icono-19 {
  width: 190px !important;
  height: 190px !important;
  object-fit: cover;
}
.icono-20 {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
}
.saltoSeccionBajo-1 {
  margin-bottom: 5px !important;
}
.saltoSeccionBajo-2 {
  margin-bottom: 10px !important;
}
.saltoSeccionBajo-3 {
  margin-bottom: 15px !important;
}
.saltoSeccionBajo-4 {
  margin-bottom: 20px !important;
}
.saltoSeccionBajo-5 {
  margin-bottom: 25px !important;
}
.saltoSeccionBajo-6 {
  margin-bottom: 30px !important;
}
.saltoSeccionBajo-7 {
  margin-bottom: 35px !important;
}
.saltoSeccionBajo-8 {
  margin-bottom: 40px !important;
}
.saltoSeccionBajo-9 {
  margin-bottom: 45px !important;
}
.saltoSeccionBajo-10 {
  margin-bottom: 50px !important;
}
.saltoSeccionBajo-11 {
  margin-bottom: 55px !important;
}
.saltoSeccionBajo-12 {
  margin-bottom: 60px !important;
}
.saltoSeccionBajo-13 {
  margin-bottom: 65px !important;
}
.saltoSeccionBajo-14 {
  margin-bottom: 70px !important;
}
.saltoSeccionBajo-15 {
  margin-bottom: 75px !important;
}
.saltoSeccionBajo-16 {
  margin-bottom: 80px !important;
}
.saltoSeccionBajo-17 {
  margin-bottom: 85px !important;
}
.saltoSeccionBajo-18 {
  margin-bottom: 90px !important;
}
.saltoSeccionBajo-19 {
  margin-bottom: 95px !important;
}
.saltoSeccionBajo-20 {
  margin-bottom: 100px !important;
}
/*Funciones*/
/*Calificacion*/
.jk-rating-stars-container {
  padding-top: 3px;
}
.jk-rating-stars-container .button {
  cursor: pointer;
}
.jk-rating-stars-container .button .material-icons {
  font-size: 30px;
}
.jk-rating-stars-container .star-button {
  text-shadow: 0.06em 0.04em #000;
}
.jk-rating-stars-container .star-button.star-on .material-icons {
  color: #ee9a00;
}
.jk-rating-stars-container .star-button.star-off .material-icons {
  color: #ddd;
}
.my-custom-stars .button .material-icons {
  font-size: 15px;
}
.my-custom-stars .star-button.star-on .material-icons {
  color: #F1C40F;
}
.my-custom-stars .star-button.star-off .material-icons {
  color: #3b3b3b;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /*src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');*/
  /*font-family: 'flUhRq6tzZclQEJ-Vdg-IuiaDsNc';*/
  src: url('Fonts/materialicons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
/*Calificacion*/
/*Web*/
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.Cabecera {
  background-color: rgba(255, 255, 255, 0);
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.Cabecera .Fondo {
  background-color: #e4002b;
  top: 0px;
  height: 70px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
}
.Cabecera .bitmapcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 19px;
  height: 33px;
  width: 94px;
  position: absolute;
  margin: 0;
  left: 20px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.Cabecera .group {
  background-color: rgba(255, 255, 255, 0);
  top: 25px;
  height: 24px;
  width: 127px;
  position: absolute;
  margin: 0;
  right: 22px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.Cabecera .group .salir {
  background-color: rgba(255, 255, 255, 0);
  top: 3px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 68px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
  line-height: 14px;
}
.Cabecera .group .miperfil {
  background-color: rgba(255, 255, 255, 0);
  top: 3px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
  line-height: 14px;
}
.Cabecera .group .miperfil a {
  color: #ffffff;
  text-decoration: none;
}
.Cabecera .group .miperfil a:hover {
  color: #ffffff;
  text-decoration: none;
}
.Cabecera .group .miperfil a:focus {
  color: #ffffff;
  text-decoration: none;
}
.Cabecera .group .miperfil a:active {
  color: #ffffff;
  text-decoration: none;
}
.Cabecera .group .icexittoapp24px {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 18px;
  width: 18px;
  position: absolute;
  margin: 0;
  left: 109px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.Cabecera .group .line4 {
  background-color: rgba(255, 255, 255, 0);
  top: 2px;
  height: 14px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 58px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.FondoMenuLateral {
  background-color: #323232;
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.FondoMenuLateral a .subOpcion {
  background-color: #515151 !important;
}
.FondoMenuLateral a .subSubOpcion {
  background-color: #394457 !important;
}
.FondoMenuLateral a .opcion {
  background-color: rgba(255, 255, 255, 0);
  /*top: 75px;*/
  height: 53px;
  display: block;
  margin: 0;
  /*left: 24px;*/
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  border-bottom: solid 1px #3E3E3E;
  cursor: pointer;
}
.FondoMenuLateral a .opcion .contenedorOpcion {
  background-color: rgba(255, 255, 255, 0);
  height: 31px;
  margin: 0;
  padding-top: 15px;
  padding-left: 24px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.FondoMenuLateral a .opcion .contenedorOpcion .Texto {
  background-color: rgba(255, 255, 255, 0);
  top: 20px;
  height: auto;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 55px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: 'Graphik', Arial, serif;
  font-size: 12px;
  color: #f1f1f2;
  text-align: left;
  line-height: 14px;
}
.FondoMenuLateral a .opcion .contenedorOpcion .Imagen {
  background-color: rgba(255, 255, 255, 0);
  height: 20px;
  width: 18px;
  margin: 0;
  position: absolute;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.FondoMenuLateral a:focus .opcion,
.FondoMenuLateral a:focus .subOpcion,
.FondoMenuLateral a:focus .subSubOpcion {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.FondoMenuLateral a:hover .opcion,
.FondoMenuLateral a:hover .subOpcion,
.FondoMenuLateral a:hover .subSubOpcion {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.FondoMenuLateral a:active .opcion,
.FondoMenuLateral a:active .subOpcion,
.FondoMenuLateral a:active .subSubOpcion {
  background-color: #000000;
  color: #ffffff !important;
}
.menuLateralDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.menuLateralDiv a {
  display: block;
  width: 100%;
}
.Expand {
  width: 100%;
}
.Contenido {
  margin-left: auto;
  padding: 100px 40px 80px;
}
.Cuerpo {
  background-color: #f1f1f2;
  height: 100%;
  margin: 0;
}
.fixCuerpo2 {
  background-color: #ffffff !important;
}
.Cuerpo2 {
  background-color: #ffffff;
  top: 64px;
  /*min-height: 768px;*/
  /*height: 100%;*/
  width: 100%;
  /*height: calc(100% - 64px);*/
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.Cuerpo2 .Contenido2 {
  padding: 44px 30px 9% 30px;
  /*max-width: 1125px;*/
  margin: 0 auto;
  overflow: no-display;
}
.Cuerpo2 .Panel {
  padding-left: 18%;
  padding-right: 18%;
}
.Cuerpo2 .LoginPanel {
  max-width: 346px;
  padding: 35px 30px;
  margin: 20px auto;
}
.Cuerpo2 .LoginPanel .LetrasTitulo {
  margin-bottom: 35px;
}
.Cuerpo2 .RegistroPanel .form-group-small {
  max-width: 320px;
  margin: 5px auto;
}
.Cuerpo2 .RegistroPanel .form-group-medium {
  max-width: 554px;
  margin: 5px auto;
}
.piePagina2 {
  position: absolute;
  bottom: 0;
  font-family: 'Graphik', Arial, serif;
  width: 60%;
  left: 20%;
  display: block;
}
.piePagina {
  margin-top: auto;
  width: 100%;
}
.piePagina img {
  margin: 5px;
}
.piePagina .imagen1 {
  width: 50px;
  height: 20px;
}
.piePagina .imagen2 {
  width: 20px;
  height: 20px;
}
.botonera {
  float: right;
  /*padding-bottom: 50px;*/
}
.botonera-registro {
  text-align: center;
  max-width: 385px;
  margin: 20px auto;
  float: none;
}
.botonera-registro input[type=button] {
  width: 48%;
  display: inline-block;
}
.botoneraCentrada {
  margin-top: 3%;
  text-align: center;
}
.registro-nota-inferior {
  color: #bbbbbb;
  font-size: 14px;
}
.btnCrearCuenta {
  font-size: 12px;
}
.btnRegistrarLinkedin {
  font-size: 12px;
  color: #000000;
}
input[type=button] {
  height: 40px;
  width: 178px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Graphik', Arial, serif;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
a {
  cursor: pointer;
}
.btnPrincipal {
  color: #ffffff;
  border-radius: 4px;
  border-color: #e4002b;
  background-color: #e4002b;
  border-width: 0px;
}
.btnSecundario {
  color: #394457;
  border-radius: 5px;
  border-color: #CDCDCD;
  background-color: #CDCDCD;
  border-width: 0px;
}
.btnTercero {
  color: #ffffff;
  border-radius: 5px;
  border-color: #2196F3;
  background-color: #2196F3;
}
.btnCuarto {
  color: #2196F3;
  border-radius: 5px;
  border-color: #2196F3;
  background-color: #ffffff;
}
input[type=date]::-moz-clear {
  display: none;
  color: rgba(255, 255, 255, 0);
}
input[type=date] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #BEBEBE;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 12px;
  color: #919191;
  line-height: 14px;
  padding: 6px;
  background: transparent;
  background-image: url("Images/IconoCalendario.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10%;
  cursor: pointer;
  z-index: 15;
}
input[type=date]::-webkit-clear-button {
  display: none;
  color: rgba(255, 255, 255, 0);
}
input[type=date]::-webkit-inner-spin-button {
  display: none;
  color: rgba(255, 255, 255, 0);
}
input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
  color: rgba(255, 255, 255, 0);
  width: 50%;
  height: 10px;
  z-index: 1;
  cursor: pointer;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}
select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #BEBEBE;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 12px;
  color: #919191;
  line-height: 14px;
  padding: 6px;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% + 10px);
  background-position-y: 10%;
  cursor: pointer;
  border-radius: 0;
}
input[type=password] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #BEBEBE;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 12px;
  color: #919191;
  line-height: 14px;
  padding: 6px;
}
input[type=text],
input[name=tel],
input[type=email],
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #BEBEBE;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 12px;
  color: #919191;
  line-height: 14px;
  padding: 6px;
}
/*El input email que esté inválido se muestra en rojo*/
input[name='email'].ng-dirty.ng-invalid,
input[name=tel].ng-dirty.ng-invalid {
  color: red;
}
/*El input email que esté válido se muestra en verde*/
input[name='email'].ng-dirty.ng-valid,
input[name=tel].ng-dirty.ng-invalid {
  color: green;
}
.validate {
  color: #e4002b !important;
  font-size: 12px;
}
/*textarea {
    background-image: -webkit-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @GrisBAC 30px, @GrisBAC 32px, @BlancoBAC 32px);
    background-image: -moz-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @GrisBAC 30px, @GrisBAC 32px, @BlancoBAC 32px);
    background-image: -ms-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @GrisBAC 30px, @GrisBAC 32px, @BlancoBAC 32px);
    background-image: -o-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @GrisBAC 30px, @GrisBAC 32px, @BlancoBAC 32px);
    background-image: linear-gradient(@BlancoBAC, @BlancoBAC 30px, @GrisBAC 30px, @GrisBAC 32px, @BlancoBAC 32px);
    background-size: 100% 32px;
    line-height: 32px;
}*/
input[type=text]:hover,
input[type=tel]:hover,
input[type=date]:hover,
select:hover,
textarea:hover,
input[type=password]:hover {
  border-bottom: solid 2px #e4002b;
  box-shadow: none;
  outline: 0;
}
/*textarea:hover {
    background-image: -webkit-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -moz-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -ms-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -o-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-size: 100% 32px;
}*/
input[type=text]:focus,
input[type=date]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus,
input[type=password]:focus {
  border-bottom: solid 2px #e4002b;
  box-shadow: none;
  outline: 0;
}
/*textarea:focus {
    background-image: -webkit-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -moz-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -ms-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -o-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-size: 100% 32px;
}*/
input[type=text]:active,
input[type=date]:active,
input[type=tel]:active,
select:active,
textarea:active,
input[type=password]:active {
  border-bottom: solid 2px #e4002b;
  box-shadow: none;
  outline: 0;
}
/*textarea:active {
    background-image: -webkit-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -moz-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -ms-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: -o-linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-image: linear-gradient(@BlancoBAC, @BlancoBAC 30px, @RojoBAC 30px, @RojoBAC 32px, @BlancoBAC 32px);
    background-size: 100% 32px;
}*/
/* Customize the label (the container) */
label.container {
  display: inline-block;
  width: auto;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  /* Show the checkmark when checked */
}
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
label.container .checkmark,
label.container .radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #3b3b3b;
}
label.container .checkmark:after,
label.container .radio:after {
  content: "";
  position: absolute;
  display: none;
}
label.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label.container .radio {
  border-radius: 50%;
}
label.container .radio:after {
  background: #2196F3;
  height: 10px;
  width: 10px;
  left: 3px;
  top: 3px;
  border-radius: 50%;
}
label.container input:checked ~ .checkmark:after,
label.container input:checked ~ .radio:after {
  display: block;
}
label.container .checkmarkTrue {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #2196F3;
}
/* On mouse-over, add a grey background color */
label.container:hover input ~ .checkmark {
  background-color: #ffffff;
}
/* When the checkbox is checked, add a blue background */
label.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
label.container input:checked ~ .radio {
  border: 2px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.sangria {
  margin-left: 40px;
  width: calc(100% - 40px);
}
.iconoTitulo {
  background-color: rgba(255, 255, 255, 0);
  height: 19px;
  width: 19px;
  position: relative;
  margin-top: -9.5px;
  left: 0px;
  display: inline-block;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.LetrasTituloPrincipal {
  background-color: rgba(255, 255, 255, 0);
  /*height: @letraTituloPrincipal;*/
  height: auto;
  width: auto;
  margin-left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 22px;
  color: #000000;
  text-align: left;
  /*line-height: 26.0px;*/
}
.LetrasTitulo {
  background-color: rgba(255, 255, 255, 0);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 19px;
  color: #000000;
  text-align: left;
  line-height: 26px;
}
.LetrasSubTitulo {
  height: auto;
  margin: 0;
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 14px;
  color: #6D6E71;
  text-align: left;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.LetrasContenido {
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 12px;
  color: #3b3b3b;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.Contenedor-subtitulo {
  margin-top: 2%;
}
.DetalleLabel {
  color: #3b3b3b;
}
.DetalleValue {
  color: #525252;
  font-weight: bold;
}
.Panel {
  background-color: #ffffff;
  width: 100%;
  margin: 20px 0px;
  padding: 30px;
}
.panel2 {
  background-color: #ffffff;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.panel2 img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.panel2 .control {
  width: calc(100% - (12px + 10px));
  display: inline-block;
}
.panel2 .imagen {
  display: inline-block;
}
.panel3 {
  width: 600px;
}
.panel3 .Panel {
  min-height: 200px;
}
.left {
  margin-left: 20%;
  margin-right: 2%;
}
.right {
  margin-right: 20%;
  margin-left: 2%;
}
.ColorLetraRoja {
  color: #e4002b;
  text-align: center;
  display: block;
}
.ColorLetraGris {
  color: #A1A1A1;
}
.ColorLetraAzul {
  color: #2196F3 !important;
}
.AddMultiItems {
  background-color: rgba(255, 255, 255, 0);
  height: 16px;
  width: 16px;
  position: relative;
  cursor: pointer;
}
.AddMultiItemControl {
  padding-left: 35px;
  width: 100%;
}
.volver-link-wrapper {
  margin-bottom: 40px;
}
.ProgressBar {
  margin: 10px 12px 5px 15px;
  padding: 15px 0px 10px 0px;
}
.ProgressBar .linea {
  height: 3px;
  width: 100%;
  position: relative;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.ProgressBar .register-step-label {
  display: none;
  font-family: 'Graphik', Arial, serif;
  font-size: 16px;
  color: #6D6E71;
  margin-top: -40px;
}
.ProgressBar .Primaria {
  background-color: #43b581;
  border-right: solid 3px #F1F1F2;
}
.ProgressBar .Secundario {
  background-color: #515151;
  border-right: solid 3px #F1F1F2;
}
.ProgressBar .Primaria .register-step-label {
  display: block;
}
.ProgressBar .circulo {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  margin-left: calc(50% - 10px);
}
.ProgressBar .circulo .texto {
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}
.ProgressBar .circulo .textoPrimario {
  color: #43b581;
}
.ProgressBar .circulo .textoSecundario {
  color: #515151;
}
.ProgressBar .CirculoPrimario {
  background-color: #F1F1F2;
  border: solid 3px #43b581;
}
.ProgressBar .CirculoSecundario {
  background-color: #F1F1F2;
  border: solid 3px #515151;
}
.Division {
  border-right: solid 2px #f1f1f2;
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.SubComponente {
  font-size: 16px;
  color: #000000;
}
.SubComponenteImagen {
  width: 16px;
  height: 16px;
}
.SubComponenteImagenIndex {
  width: 24px !important;
}
.centrarTexto {
  text-align: center;
  display: block;
}
.textoNegrita {
  font-weight: bolder;
}
.imgLetraContenido {
  width: 16px;
  height: 16px;
}
.centrarVertical {
  margin: auto 0px;
}
.centrarHorizontal {
  margin: 0px auto;
}
.espacioFoto {
  height: 150px;
}
.foto1 {
  z-index: 1;
  display: block;
}
.foto1 img {
  width: 160px;
  height: 160px;
}
.foto2 {
  z-index: 10;
  display: block;
  margin-top: -155px;
  margin-left: 5px;
}
.foto2 img {
  width: 150px;
  height: 150px;
}
table {
  width: 100%;
}
thead {
  font-size: 12px;
  color: #4d4d4f;
  text-align: left;
  line-height: 14px;
  font-weight: bold;
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  /*.SeparadorTabla {
        padding-top: 15px;
        margin-bottom: 25px;
    }*/
}
thead tr {
  border-bottom: solid 1px #CDCDCD;
}
thead td {
  height: 60px;
}
tbody {
  font-size: 12px;
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  color: #A1A1A1;
  /*.SeparadorTabla {
        padding-top: 5px;
        margin-bottom: 10px;
    }*/
}
tbody tr {
  border-bottom: solid 1px #CDCDCD;
}
tbody td {
  text-align: left;
  height: 60px;
}
tbody tr td:nth-child(1) {
  font-weight: bold;
  color: #000000;
}
/*.SeparadorTabla {
    border-bottom: solid 1px @GrisBAC4;
    width: 100%;
}*/
.OtrasColumnas {
  min-width: 50px;
  overflow-x: auto;
}
.ultimaColumna {
  width: 40px !important;
  text-align: center !important;
}
.ultimaColumna .recuadro {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: solid 2px #e4002b;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  margin-top: -2px;
}
.ultimaColumna .recuadro .flecha {
  width: 6px;
  cursor: pointer;
  margin-bottom: 3px;
}
.cuadro {
  border: solid 1px #f1f1f2;
  height: 50px;
  width: 19%;
  padding: 5px 10px;
  font-size: 12px;
  font-family: 'Graphik', Arial, serif;
  cursor: pointer;
  display: inline-table;
}
.cuadroSeleccionado {
  border: solid 2px #43b581;
}
.cuadroSeparador {
  margin: 1.5%;
}
.cuadro:hover,
.cuadro:focus,
.cuadro:active {
  border: solid 2px #43b581;
}
.FotoCircular {
  width: 75px;
  height: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #3b3b3b;
  object-fit: cover;
}
.FotoCircularGrid {
  margin-top: -5px;
}
.tapDistansce {
  margin-top: 20px;
}
.taps {
  background-color: #f1f1f2;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  font-size: 14px;
}
.tapSelect {
  background-color: #ffffff;
  cursor: pointer;
  border-top: solid 1px #e4002b;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.taps2,
.tapSelect2 {
  cursor: pointer;
  border-bottom: 5px solid transparent;
  padding: 10px;
  text-align: center;
}
.tapSelect2,
.taps2:hover {
  color: #e4002b;
  border-bottom: 5px solid #e4002b !important;
}
.punteroSelector {
  cursor: pointer;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
}
.centrarIconoConfirmacion {
  margin-left: calc(50% - 50px);
}
.centrarTable {
  margin-left: calc(50% - 7px);
}
.footerTabla {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  padding: 15px 0;
}
.saltoSeccion {
  margin-top: 20px;
}
.saltoSeccion input[type="button"] {
  width: 100%;
  margin-top: 10px;
}
.sombra {
  box-shadow: 0 4px 8px 0 #f1f1f2, 0 6px 20px 0 #3b3b3b;
}
.cuadroDerecho {
  margin-top: 20px;
  margin-left: 0px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: calc(100% - 0px);
  background-color: #ffffff;
}
.cuadroIzquierdo {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: calc(100% - 0px);
  background-color: #ffffff;
}
.levantar {
  z-index: 50;
}
.contenedorLoader {
  position: fixed;
  z-index: 1;
}
.contenedorLoader .modal-backdrop {
  background-color: #ffffff;
}
.contenedorLoader .modal-backdrop.show,
.contenedorLoader .modal-backdrop.fade {
  opacity: 1;
}
.contenedorLoader .modal-open,
.contenedorLoader .modal-content {
  border: none;
}
.hidden {
  display: none;
}
.contenedorLoaderInicial {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 1060;
}
.contenedorLoaderInicial .loader {
  position: absolute;
  margin-left: calc(50% - 15px);
  margin-top: calc(25% - 45px);
}
.loader,
.loader:before,
.loader:after {
  background: #e4002b;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 40% auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.EncabezadoBusquedaAvanzada {
  margin-top: 15px;
  margin-left: 0px;
}
.EncabezadoBusquedaAvanzada .botonera {
  float: right;
  padding-bottom: 5px;
}
.EncabezadoBusquedaAvanzada .control {
  width: calc(100% - (12px + 40px));
}
.EncabezadoBusquedaAvanzada .control input {
  background-color: #ffffff;
  border-bottom: 0px;
}
.EncabezadoBusquedaAvanzada .imagen {
  background-color: #ffffff;
}
.EncabezadoBusquedaAvanzada .imagen2 {
  background-color: #000000;
  padding: 10px 5px 6px 6px;
  display: inline-block;
}
.EncabezadoBusquedaAvanzada .imagen2:hover {
  background-color: #e4002b;
}
.EncabezadoBusquedaAvanzada .imagen2:active {
  background-color: #e4002b;
}
.EncabezadoBusquedaAvanzada select {
  border-bottom: 0px;
}
.SubrayadoDivTotal {
  width: 100%;
  border-bottom: solid 2px #f1f1f2;
  margin-bottom: 5px;
  /*min-height: 40px;
    line-height: 40px;*/
}
.SubrayadoFiltroAvanzado {
  width: 100%;
  border-bottom: solid 2px #f1f1f2;
  margin-bottom: 5px;
  background-image: url(Images/IconoMenos.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px 3px;
  min-height: 40px;
  line-height: 40px;
}
#filtroAvanzado a[aria-expanded="false"] .SubrayadoFiltroAvanzado {
  background-image: url(Images/IconoMas.png);
  background-size: 16px 16px;
}
.IconoDerecha {
  float: right;
}
.modal-body {
  max-height: 250px;
  overflow-y: auto;
}
.cuadroRelacionado {
  display: inline-table;
  min-height: 150px;
  height: auto;
  background-color: #ffffff;
}
.flechaAjuste {
  margin-bottom: 9px !important;
}
.ReglasAplicadas {
  display: none !important;
}
.chart {
  min-height: 450px;
  clear: both;
  margin: 20px 0 40px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.FlotarDerecha {
  margin-left: calc(100% - 80px);
}
.IconoDescarga {
  margin-right: 5px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.centrarSeccionFeria {
  margin-left: 50%;
}
.marginNegativo-1 {
  margin-left: -15px;
}
.marginNegativoTexto-1 {
  margin-left: -39px;
}
.marginNegativoTexto-2 {
  margin-left: -37px;
}
.marginNegativoTexto-3 {
  margin-left: -41px;
}
.marginNegativoNumero-1 {
  margin-left: -5px;
}
.TitulosMantenimiento {
  margin-top: -5px !important;
}
.SitioIcono {
  display: inline-block;
  vertical-align: middle;
}
.mdi:before,
.mdi-set {
  vertical-align: middle;
}
.img-100 {
  width: 100px;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.link {
  font-size: 12px;
  color: #2196F3 !important;
  font-weight: 600;
}
.btn {
  display: block;
  padding: 8px 15px;
  background: #e4002b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  min-width: 150px;
}
.btn-blue {
  background: #2196F3;
}
.btn-gray {
  background: #CDCDCD;
  color: #000;
}
.btn-border-blue {
  border: 2px solid #2196F3;
  color: #2196F3;
  background: #ffffff;
}
.btn-back {
  font-size: 16px;
  font-weight: 600;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .btn {
    max-width: 200px;
  }
  .btn-full {
    max-width: none;
  }
}
.btn-wrap .btn {
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .btn-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
  }
  .btn-wrap .btn {
    margin-left: 16px;
  }
}
ul {
  padding-left: 15px;
}
.no-results {
  width: 60%;
  max-width: 232px;
  display: block;
  margin: 0 auto 30px;
}
.table-responsive td,
.table-responsive th {
  vertical-align: middle;
}
.table-responsive td:first-child,
.table-responsive th:first-child {
  color: #6D6E71;
}
.table-responsive thead a {
  color: #000;
}
.modal-footer {
  border: none;
}
.btn-filters {
  background: #e4002b;
  color: #ffffff;
  padding: 0 5px;
}
.btn-filters img {
  width: 50%;
}
.btn-filters.collapsed {
  background: #ffffff;
  color: #000;
}
.table td,
.table th {
  border: none;
}
.link-box {
  background: #FFF;
  color: #000;
  display: block;
  padding: 15px 70px 15px 15px;
  height: 100%;
  background-image: url("Images/flechaRojaCirculo.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 30px) 30px;
}
.link-box h2 {
  font-weight: 600;
  font-size: 14px;
}
.link-box p {
  font-size: 12px;
  margin-bottom: 5px;
}
.link-box:hover {
  text-decoration: none;
  color: #000;
}
.datepicker {
  position: relative;
}
.datepicker .btn {
  width: auto;
  background: none;
  color: #000;
  min-width: 0;
  padding: 5px 10px;
  margin: 0 auto;
}
.datepicker .btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.datepicker .btn-info:not(:disabled):not(.disabled).active {
  background: #e4002b;
  color: #ffffff;
  border: none;
}
.datepicker td {
  height: auto;
}
.datepicker__btn {
  position: absolute;
  right: 0;
  top: 11px;
  color: #e4002b;
  font-size: 20px;
}
.datepicker .glyphicon {
  font-style: normal;
  font-size: 20px;
}
.datepicker .glyphicon::before {
  font-family: 'Material Design Icons';
}
.datepicker .glyphicon-chevron-left::before {
  content: "\F141";
}
.datepicker .glyphicon-chevron-right::before {
  content: "\F142";
}
.subtitle-26 {
  font: 500 26px/30px 'Graphik', Arial, serif;
}
.subtitle-20 {
  font: 500 20px/24px 'Graphik', Arial, serif;
}
.subtitle-18 {
  font: 500 18px/22px 'Graphik', Arial, serif;
}
.subtitle-16 {
  font: 500 16px/20px 'Graphik', Arial, serif;
}
.subtitle-14 {
  font: 500 14px/18px 'Graphik', Arial, serif;
}
.subtitle-12 {
  font: 500 12px/16px 'Graphik', Arial, serif;
}
.text-20 {
  font: normal 20px/24px 'Graphik', Arial, serif;
}
.text-14 {
  font: normal 14px/18px 'Graphik', Arial, serif;
}
.text-12 {
  font: normal 12px/16px 'Graphik', Arial, serif;
}
.text-red {
  color: #e4002b !important;
}
.text-green {
  color: #43b581 !important;
}
.text-blue {
  color: #2196F3 !important;
}
.text-gray {
  color: #6D6E71 !important;
}
.mdi-8px.mdi-set,
.mdi-8px.mdi:before {
  font-size: 8px;
}
.mdi-stack {
  position: relative;
}
.mdi-stack .mdi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.text-long {
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 768px) {
  .grid-md-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    -ms-display: grid;
    -ms-grid-template-columns: 50% 50%;
  }
}
@media (min-width: 992px) {
  .border-lg-right {
    border-right: 1px solid #dee2e6 !important;
  }
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #f1f1f2;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #3b3b3b;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #f1f1f2;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #3b3b3b;
    height: 5em;
  }
}
@media (min-width: 3840px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30% !important;
  }
  .LoginPanel {
    max-width: 450px !important;
  }
  input,
  select {
    font-size: 18px;
  }
  .icono-2 {
    height: 40px !important;
    width: 40px !important;
    object-fit: cover;
  }
  .icono-3 {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .marginNegativo-1 {
    margin-left: -20px;
  }
  .FondoMenuLateral a .opcion .contenedorOpcion .Texto {
    width: 100% !important;
    font-size: 18px !important;
  }
  .ultimaColumna .recuadro .flecha {
    margin-bottom: 14px;
    margin-left: 1px;
  }
  .registro-nota-inferior {
    font-size: 14px;
  }
  .btnCrearCuenta {
    font-size: 18px;
  }
  .btnRegistrarLinkedin {
    font-size: 18px;
  }
  input[type=button] {
    font-size: 18px;
  }
  input[type=date] {
    background-size: 18px 18px;
  }
  label.container {
    font-size: 18px;
  }
  label.container .checkmark {
    height: 26px;
    width: 26px;
  }
  .iconoTitulo {
    height: 51px;
    width: 51px;
    margin-top: -25.5px;
  }
  .LetrasTituloPrincipal {
    height: 56px;
    font-size: 56px;
  }
  .LetrasTitulo {
    font-size: 51px;
  }
  .LetrasSubTitulo {
    font-size: 40px;
  }
  .LetrasContenido {
    font-size: 18px;
  }
  /*.panel2 {

        img {
            width: @letraContenido + 4px;
            height: @letraContenido + 4px;
        }

        .control {
            width: calc(100% - (@letraContenido + 10px));
        }
    }*/
  .AddMultiItems {
    height: 22px;
    width: 22px;
  }
  span {
    font-size: 18px;
  }
  thead {
    font-size: 18px;
  }
  tbody {
    font-size: 18px;
  }
  .cuadro {
    font-size: 18px;
  }
  .inputfile + label {
    font-size: 18px;
  }
}
@media (min-width: 2880) and (max-width: 3839px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30%;
  }
  .LoginPanel {
    max-width: 450px !important;
  }
  input,
  select {
    font-size: 16px;
  }
  .icono-2 {
    height: 40px !important;
    width: 40px !important;
    object-fit: cover;
  }
  .FondoMenuLateral a .opcion .contenedorOpcion .Texto {
    width: 100% !important;
    font-size: 16px !important;
  }
  .ultimaColumna .recuadro .flecha {
    margin-bottom: 14px;
    margin-left: 1px;
  }
  .registro-nota-inferior {
    font-size: 14px;
  }
  .btnCrearCuenta {
    font-size: 16px;
  }
  .btnRegistrarLinkedin {
    font-size: 16px;
  }
  input[type=button] {
    font-size: 16px;
  }
  input[type=date] {
    background-size: 16px 16px;
  }
  label.container {
    font-size: 16px;
  }
  label.container .checkmark {
    height: 24px;
    width: 24px;
  }
  .iconoTitulo {
    height: 38px;
    width: 38px;
    margin-top: -19px;
  }
  .LetrasTituloPrincipal {
    height: 42px;
    font-size: 42px;
  }
  .LetrasTitulo {
    font-size: 38px;
  }
  .LetrasSubTitulo {
    font-size: 30px;
  }
  .LetrasContenido {
    font-size: 16px;
  }
  /*.panel2 {

        img {
            width: @letraContenido + 4px;
            height: @letraContenido + 4px;
        }

        .control {
            width: calc(100% - (@letraContenido + 10px));
        }
    }*/
  .AddMultiItems {
    height: 20px;
    width: 20px;
  }
  span {
    font-size: 16px;
  }
  thead {
    font-size: 16px;
  }
  tbody {
    font-size: 16px;
  }
  .cuadro {
    font-size: 16px;
  }
  .inputfile + label {
    font-size: 16px;
  }
}
@media (min-width: 1920px) and (max-width: 2879px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30%;
  }
  .LoginPanel {
    max-width: 300px !important;
  }
  input,
  select {
    font-size: 14px;
  }
  .icono-2 {
    height: 25px !important;
    width: 25px !important;
    object-fit: cover;
  }
  .FondoMenuLateral a .opcion .contenedorOpcion .Texto {
    width: 100% !important;
    font-size: 14px !important;
  }
  .ultimaColumna .recuadro .flecha {
    margin-bottom: 7px;
    margin-left: 1px;
  }
  .FondoMenuLateral a .opcion .contenedorOpcion .Texto {
    font-size: 14px;
  }
  .registro-nota-inferior {
    font-size: 14px;
  }
  .btnCrearCuenta {
    font-size: 14px;
  }
  .btnRegistrarLinkedin {
    font-size: 14px;
  }
  input[type=button] {
    font-size: 14px;
  }
  input[type=date] {
    background-size: 14px 14px;
  }
  label.container {
    font-size: 14px;
  }
  label.container .checkmark {
    height: 22px;
    width: 22px;
  }
  .iconoTitulo {
    height: 26px;
    width: 26px;
    margin-top: -13px;
  }
  .LetrasTituloPrincipal {
    height: 28px;
    font-size: 28px;
  }
  .LetrasTitulo {
    font-size: 26px;
  }
  .LetrasSubTitulo {
    font-size: 20px;
  }
  .LetrasContenido {
    font-size: 14px;
  }
  /*.panel2 {

        img {
            width: @letraContenido + 4px;
            height: @letraContenido + 4px;
        }

        .control {
            width: calc(100% - (@letraContenido + 10px));
        }
    }*/
  .fondoCuadros .CuadroInterno .texto {
    font-size: 14px;
  }
  .AddMultiItems {
    height: 18px;
    width: 18px;
  }
  span {
    font-size: 14px;
  }
  thead {
    font-size: 14px;
  }
  tbody {
    font-size: 14px;
  }
  .cuadro {
    font-size: 14px;
  }
  .inputfile + label {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30%;
  }
}
/*Movil*/
@media (min-width: 1365px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30%;
  }
}
/*Fin movil*/
@media (max-width: 990px) {
  .Pagina .Cuerpo2 .Contenido2 {
    margin-bottom: 30%;
  }
  .EncabezadoBusquedaAvanzada .botonera {
    float: none;
  }
  .EncabezadoBusquedaAvanzada .botonera input {
    margin-top: 12px;
    width: 100%;
  }
  .botonera {
    float: none;
  }
  .botonera input {
    margin-top: 2px;
    width: 100%;
  }
  .Division {
    border-bottom: solid 2px #f1f1f2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 0px;
  }
  #IdResumen .Division {
    border-right: solid 2px #f1f1f2;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .Pagina .Cuerpo2 .Panel {
    padding-left: 4%;
    padding-right: 4%;
  }
  .Contenido {
    padding: 100px 0;
  }
  .Panel {
    padding: 30px 15px;
    margin-bottom: 50px;
  }
  .piePagina2 {
    display: none;
  }
  .FondoMenuLateral {
    position: fixed;
    display: block;
    padding: 0;
    top: auto;
    bottom: 0;
    z-index: 1;
  }
  .FondoMenuLateral #menu {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .FondoMenuLateral #menu a {
    text-align: center;
    padding: 0 10px;
    min-width: 60px;
  }
  .FondoMenuLateral #menu a .opcion {
    height: auto;
  }
  .FondoMenuLateral #menu a .opcion .contenedorOpcion {
    padding: 10px 0;
    height: 72px;
    display: inline-table;
  }
  .FondoMenuLateral #menu a .opcion .contenedorOpcion .Texto {
    position: relative;
    padding-top: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 8px;
  }
  .FondoMenuLateral #menu a .opcion .contenedorOpcion img {
    position: absolute;
    top: 15px;
    left: calc(50% - 8px);
  }
  .EncabezadoBusquedaAvanzada .botonera {
    float: none;
  }
  .EncabezadoBusquedaAvanzada .botonera input {
    width: 100%;
  }
  .botonera {
    float: none;
  }
  .botonera input,
  .botonera .btn {
    margin-top: 2px;
    width: 100%;
  }
  #filtroAvanzado .botonera {
    float: none;
  }
  #filtroAvanzado .botonera input {
    width: 100%;
  }
  .piePagina {
    display: none;
  }
  .modal-footer input[type="button"] {
    width: 100%;
    margin-bottom: 10px;
  }
  #IdResumen .Division {
    border-bottom: solid 2px #f1f1f2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 0px;
  }
  .tapDistansce {
    margin-left: 0px;
  }
  .left {
    margin-left: 0px;
    margin-right: 0px;
  }
  .right {
    margin-right: 0px;
    margin-left: 0px;
  }
}
/*Fin Web*/