<div id="LoaderInicialPantalla" class="contenedorLoaderInicial">
    <div class="loader" id="loader">Loading...</div>
</div>
<script type="text/javascript">
    $('#LoaderInicialPantalla').addClass('hidden'); 
</script>