
<div class="row centered">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 center-block">
        <div class="div_image_modal" >
            <img src="../../Content/Images/Registro_25.png"/>
        </div>
        <div class="LetrasTituloRegistro font_red">
            <strong>
                En BAC reforzamos <br />la inclusión laboral
            </strong>
        </div>
        <div class="LetrasSubTituloRegistro textoNegrita">
            Con ayuda de expertos, consultores externos y<br /> activades, nuestros <br /> colaboradores sensibilizan a sus compañeros

        </div>
        <button class="botonrojoregistro" ng-click="ok()">CONTINUAR</button>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
</div>