
<div class="row centered">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 center-block">
        <div class="div_image_modal" >
            <img src="../../Content/Images/Registro_30.png"/>
        </div>
        <div class="LetrasTituloRegistro font_red">
            <strong>
                ¡Cuenta creada <br />exitosamente!
            </strong>
        </div>
        <div class="LetrasSubTituloRegistro textoNegrita">
            Ya estás registrado en la plataforma

        </div>
        <button class="botonrojoregistro" ng-click="goPuestos()">VER PUESTOS</button>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
</div>