
<div class="row centered">
    <div class="col-xs-12 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8 center-block">
        <div class="div_image_modal" >
            <img src="../../Content/Images/Registro_21.png"/>
        </div>
        <div class="LetrasTituloRegistro font_red">
            <strong>
                En BAC contamos<br />con 12 carreras profesionales
            </strong>
        </div>
        <div class="LetrasSubTituloRegistro textoNegrita">
             Carreras en todas las áreas del conocimiento, que<br /> ofrecen diferentes oportunidades laborales para las <br /> más distintas profesiones

        </div>
        <button class="botonrojoregistro" ng-click="ok()">CONTINUAR</button>
    </div>
    <div class="col-xs-12 col-sm-2"></div>
</div>