
@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>


    <div id="xxxx">
        <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=788xfq3rqvr339&redirect_uri=http://localhost:1981/LinkedIn/LinkedINAuth/&state=987654321&scope=r_basicprofile" class="btn btn-primary"> Hureee!Login with LinkedIN </a>
    </div>
