
@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Este usuario no posee permisos para ver esta página.</h2>
        <center>
            <img src="~/Content/Images/IconoCactus.png" style="width:50%;"/>
        </center>
    </hgroup>
</body>
</html>
